<div class="bg-[#2F1B93] text-white p-8">

    <div class="flex justify-between">

        <div>
            Footer
        </div>

        <div class="space-x-10">
            <span>Privacy Policy</span>
            <span>Terms</span>
            <span>
                <i class="fa-brands fa-twitter"></i>
            </span>
            <span>
                <i class="fa-brands fa-facebook"></i>
            </span>
            <span>
                <i class="fa-brands fa-google-plus"></i>
            </span>
        </div>

    </div>

    <hr class="my-5 border-gray-400">

    <div class="flex justify-between">

        <div class="space-x-10">
            <span>Tour</span>
            <span>Features</span>
            <span>Pricing Plans</span>
            <span>Our Works</span>
            <span>Brands</span>
            <span>Contact</span>
        </div>

        <div>
            <span>
                © 2017 All rights reserved.
            </span>
        </div>

    </div>

</div>