<div class="feature-container">

    <app-navbar></app-navbar>

    <div class="image-overlay"></div>

    <img class="left-img" src="assets/images/notebook-bg-left.png" alt="" />

    <div class="flex flex-col z-10 text-white space-y-10 items-center relative h-full justify-center">

        <h1 class="text-6xl sm:text-3xl md:text-6xl font-bold text-white text-center ml-72">
            Powerful and simple <br> for teams big and small.
        </h1>
        <p class="text-center text-white w-1/2 ml-72">
            Startup Framework contains components and complex blocks which can easily be integrated into almost any
            design. All of the components are made in the same style, and can easily be integrated into projects,
            allowing you to create hundreds of solutions.
        </p>

    </div>


</div>

<app-footer></app-footer>