.landing-page-container {
    position: relative;
    height: 100vh;
    background-image: url('../../../../public/assets/images/landing-page-bg-image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(47, 24, 147, 0.5);
    z-index: 1;
    margin-top: 0;
}