<div class="flex flex-col items-center w-50 landing-page-container">

    <app-navbar></app-navbar>

    <div class="image-overlay"></div>

    <div class="flex flex-col z-10 text-white space-y-10 items-center my-auto">

        <div class="flex flex-col text-white space-y-10 items-center">

            <app-text-carousel></app-text-carousel>

        </div>

        <div class="">
            <button class="bg-[#482BE7] py-4 px-6 rounded-full text-white">Create an Account</button>
        </div>
    </div>
</div>